
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Sekuya&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/sidenav.css">
</head>




<div class="sidenav">
    <img class="avatar" src="/assets/img/Capy.png">
    <a href="/">Accueil</a>
    <a href="/about/">A propos</a>
    <a href="/projects/">Projet</a>
    <a href="/contact/">Me contacter</a>
</div>