textarea {
    width: 450px;
    height: 200px;
    border-radius: 5px;
    background-color: rgb(123, 121, 124);
    border-style: none;
}

input {
    border-radius: 10px;
    background-color: rgb(123, 121, 124);
    border-style: none;
}

h3 {
    text-decoration: underline;
}