.headbar {
    width: 100%;
    height: 127px;
    background-color: #2e2d2d;
    top: 0;
    left: 0;
    position: fixed;
    margin-top: 20px;
    
}

.title {
    text-align: center;
    font-size: 50px;
    font-family: "sekuya";
    color: rgb(189, 181, 181);
    padding-left: 160px;
    height: 127px;
    margin: auto;
}