.sidenav .accueil {
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 20px;
    margin-right: 5px;
    margin-left: 5px;
    color: white;
}

h2 {
    font-size: 50px;
    font-weight: 700;
}