.sidenav .accueil {
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 20px;
    margin-right: 5px;
    margin-left: 5px;
    color: white;
}

h2 {
    font-size: 50px;
    font-weight: 700;
}

.desc {
    margin: 10px;
}

.cat {
    margin: auto;
    background-color: rgb(8, 8, 51, 0.6);
    padding: 10px;
    border-radius: 10px;
}

hr {
    width: 80%;
    border: 1px solid white;
}

.categorie {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 15px;
}

.linkbox {
    text-decoration: none;
    color: white;
}

.box {
    border: 2px solid white;
    border-radius: 10px;
    margin-right: 45px;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-bottom: 15px;
}
.box:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.more {
    text-decoration: none;
    color: white;
    background-color: rgb(8, 8, 51, 0.6);
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
}