.linkbox {
    text-decoration: none;
    color: white;
}

.box {
    border: 2px solid white;
    border-radius: 10px;
    margin-right: 45px;
    display: flex;
    flex-direction: column;
}
.box:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.sidenav .projects {
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 20px;
    margin-right: 5px;
    margin-left: 5px;
    color: white;
}

h2 {
    margin: auto;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}

.desc {
    margin: auto;
}

.cat {
    margin: auto;
}