.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  margin-left: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  margin-top: 5%;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.avatar {
  border-radius: 50%;
  margin-left: 5%;
}

body {
  background-color: #31222e;
}

main {
  margin-left: 220px;
  margin-top: 220px;
  padding: 0px 10px;
  font-family: "Exo 2";
  color: white;
}