<link rel="stylesheet" href="/assets/css/projects.css">

<main>
  {% include sidenav.html %}
  {% include headbar.html %}
  {% for project in site.projects %}
  <a class="linkbox" href="{{ project.url }}">
  <Div class="box">
    <h2>
        {{ project.title }}
    </h2>
    <hr>
    <p class="desc">
    {{ project.description }}
    </p>
    <hr>
    <div class="categorie">
    {% for cat in project.categorie %}
      <p class="cat">
      {{cat[1]}}
      </p>
    {% endfor %}
    </div>
  </div>
  </a>
  {% endfor %}
</main>